@model BDGR1_TareaProgramada_03_04.Models.EntidadEmpleado

@{
    ViewData["Title"] = "Editar";
    List<SelectListItem> OpcionesTipoDocID = (List<SelectListItem>)ViewBag.OpcionesTipoDocID;
    List<SelectListItem> OpcionesTipoDepart = (List<SelectListItem>)ViewBag.OpcionesTipoDepart;
    List<SelectListItem> OpcionesTipoPuesto = (List<SelectListItem>)ViewBag.OpcionesTipoPuesto;
}

<br />
<h4>Editar</h4>
<hr />

<div class="row">
    <div class="col-md-4">
        <form asp-action="Editar">
            <!--form-->
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<!--input type="hidden" asp-for="Id" -->

            <div class="form-group" style="margin-top: 20px;">
				<label asp-for="Nombre" class="control-label"></label>
				<input asp-for="Nombre" class="form-control" />
				<span asp-validation-for="Nombre" class="text-danger"></span>
			</div>

            <div class="form-group" style="margin-top: 20px;">
                <label asp-for="ValorDocIdentidad" class="control-label"></label>
                <input asp-for="ValorDocIdentidad" class="form-control" />
                <span asp-validation-for="ValorDocIdentidad" class="text-danger"></span>
            </div>

            <div class="form-group" style="margin-top: 20px;">
                <label asp-for="IdTipoDocIdentidad" class="control-label"></label>
                <select class="form-select" asp-for="IdTipoDocIdentidad" name="tipoDocId">
                    @foreach (var op in OpcionesTipoDocID)
                    {
                        <option value="@Html.DisplayName(op.Value)"> @Html.DisplayName(op.Text)</option>
                    }
                </select>
            </div>

            <div class="form-group" style="margin-top: 20px;">
                <label asp-for="IdDepartamento" class="control-label"></label>
                <select class="form-select" asp-for="IdDepartamento" name="departamento">
                    @foreach (var op in OpcionesTipoDepart)
                    {
                        <option value="@Html.DisplayName(op.Value)"> @Html.DisplayName(op.Text)</option>
                    }
                </select>
            </div>

            <div class="form-group" style="margin-top: 20px;">
                <label asp-for="IdPuesto" class="control-label"></label>
                <select class="form-select" asp-for="IdPuesto" name="puesto">
                    @foreach (var op in OpcionesTipoPuesto)
                    {
                        <option value="@Html.DisplayName(op.Value)"> @Html.DisplayName(op.Text)</option>
                    }
                </select>
            </div>

            <br />
            <div class="form-group">
                <input type="submit" value="Confirmar" class="btn btn-primary" />
            </div>

        </form> <br />
        <a asp-action="ListaEmpleado">  <input type="submit" value="Cancelar" class="btn btn-primary"> </a>
    </div>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}