<!-- model IEnumerable<Tarea__2.Models.ArticuloVista>  -->
@model IEnumerable<BDGR1_TareaProgramada_03_04.Models.EntidadEmpleado>

@{
    ViewData["Title"] = "Empleados";
    <!--  List<SelectListItem> opciones = (List <SelectListItem>) ViewBag.opciones;  -->
}

<div>
    
    <h1 style="margin-left: 30px; margin-top: 20px; font-size: 190%;">Empleados</h1>

</div> 
 
<div style="width: 100%; margin-top: 20px; max-width: 100%;">

    <label class="form-label" style="margin-left: 5%; margin-top: 20px;">Nombre:</label>
    <input class="form-control" style="width: 60%; margin-left: 5%; max-width: 80%;">

    <label class="form-label" style="margin-left: 5%; margin-top: 20px;">Cantidad:</label>
    <input class="form-control" style="width: 60%; margin-left: 5%; max-width: 80%;">

    <label class="form-label" style="margin-left: 5%; margin-top: 20px;">Identificacion:</label>
    <select class="form-select" style="width: 60%; max-width: 80%; margin-left: 5%;">
    </select>
    
    <label class="form-label" style="margin-left: 5%; margin-top: 20px;">Departamentos:</label>
    <select class="form-select" style="width: 60%; max-width: 80%; margin-left: 5%;">
        
    </select>
    
    <label class="form-label" style="margin-left: 5%; margin-top: 20px;">Puestos:</label> 
    <select class="form-select" style="width: 60%; max-width: 90%; margin-left: 5%; margin-bottom: 20px;">
        
    </select>

</div> 
<div style="margin-top: 20px; width: 100%; max-width: 100%; height: 240px; max-height: 260px;">
    
    <div style="margin-top: 20px; ">
        
        <label class="form-label" style="width: 100%; max-width: 100%; margin-left: 5%;">Filtros:</label>

        <input style="margin-top: 2%; width: 120px; max-width: 100px; margin-left: 5%;" class="btn btn-primary" value="Nombre">
        
        <input style="margin-top: 2%; width: 120px; max-width: 100px; margin-left: 5%;" class="btn btn-primary" value="Cantidad">

        <input style="margin-top: 2%; width: 140px; max-width: 160px; margin-left: 5%;" class="btn btn-primary" value="Identificacion">
        
        <input style="margin-top: 2%; width: 140px; max-width: 160px; margin-left: 5%;" class="btn btn-primary" value="Departamento">
        
        <input style="margin-top: 2%; width: 120px; max-width: 140px; margin-left: 5%;" class="btn btn-primary" value="Puesto">

        <hr />

	</div>

    <label class="form-label" style="margin-top: 20px; width: 100%; max-width: 100%; margin-left: 5%;">Acciones:</label>
	
    <a asp-action="Insertar"> <input style="width: 90px; margin-left: 5%;" class="btn btn-primary" value="Insertar"> </a>

	<a asp-action="SecEditar"> <input style="  width: 120px; margin-left: 5%;" class="btn btn-primary" value="Editar  "> </a>

	<a asp-action="SecEliminar"><input style="  width: 120px; margin-left: 5%;" class="btn btn-primary" value="Eliminar  "> </a>

	<a asp-action="SecImpersonar"><input style="  width: 120px; margin-left: 5%; max-width: 110px;" class="btn btn-primary" value="Impersonar"> </a>

	<a asp-action="CerrarS"><input style="  width: 100px; margin-left: 5%;" class="btn btn-primary" value="Salir"> </a>

</div>

<table class="table" style="margin-top: 20px;">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.ValorDocIdentidad)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.IdTipoDocIdentidad)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.IdDepartamento)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.IdPuesto)
            </th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.ValorDocIdentidad)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.IdTipoDocIdentidad)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.IdDepartamento)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.IdPuesto)
                </td>

            </tr>
        }
    </tbody>

</table>
